*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.circle{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 2s forwards;
}

@keyframes animate{
    0%{
        transform: scale(1);
        opacity: 1;
    }

    100%{
        transform: scale(2);
        opacity: 0;
    }
}
